<app-header></app-header>
<div class="upperMargin">
  <div class="container">
    <h2>Leave Management</h2>



    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Leave Type</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reason</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngIf="leaveManagementData && leaveManagementData.length > 0; else noData">
          <tr *ngFor="let leave of leaveManagementData">
            <td>{{ leave.employeeName }}</td>
            <td>{{ leave.leaveType }}</td>
            <td>{{ leave.startDate | date: 'shortDate' }}</td>
            <td>{{ leave.endDate | date: 'shortDate' }}</td>
            <td>{{ leave.reason }}</td>
            <td>
              <ng-container *ngIf="leave.status === 'Pending'; else statusText">
                <button class="button-approve" (click)="approveLeave(leave)">Approve</button>
                <button class="button-reject" (click)="rejectLeave(leave)">Reject</button>
              </ng-container>
              <ng-template #statusText>
                {{ leave.status }}
              </ng-template>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <tr>
      <td colspan="9">No data available</td>
    </tr>
  </ng-template>
</div>
<ngx-ui-loader text="Please Wait..." fgsColor="#0d6efd" [hasProgressBar]="false"></ngx-ui-loader>