<h2 mat-dialog-title>Edit Project</h2>
<div mat-dialog-content [formGroup]="updateForm" class="form-container">
  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="projectName" id="name" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Client</mat-label>
      <input matInput formControlName="client" id="client" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" id="startDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate" id="endDate" />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country" id="country">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Budget</mat-label>
      <input matInput formControlName="budget" id="budget" type="number"/>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-button (click)="onCancelClick()" style="background-color: #084874; color: white;">Cancel</button>
  <button mat-button (click)="onSaveClick(updateForm.value)" style="background-color: #084874; color: white;">Save</button>
</div>
