<body>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p
                  class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 login-heading"
                >
                  Login
                </p>

                <!-- Your Angular form starts here -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="email"
                      >Email<span class="required">*</span></label
                    >
                    <input
                      type="email"
                      id="email"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid':
                          loginForm.get('email')?.invalid &&
                          loginForm.get('email')?.touched
                      }"
                    />
                    <div
                      *ngIf="
                        loginForm.get('email')?.hasError('required') &&
                        loginForm.get('email')?.touched
                      "
                      class="error-message"
                    >
                      Email is required
                    </div>
                    <div
                      *ngIf="
                        loginForm.get('email')?.hasError('email') &&
                        loginForm.get('email')?.touched
                      "
                      class="error-message"
                    >
                      Please enter a valid email address
                    </div>
                  </div>

                  <div
                    class="form-group"
                    [ngClass]="{
                      error:
                        loginForm.get('password')?.invalid &&
                        (loginForm.get('password')?.touched ||
                          loginForm.get('password')?.dirty)
                    }"
                  >
                    <label for="password"
                      >Password<span class="required">*</span></label
                    >
                    <input
                      type="password"
                      id="password"
                      formControlName="password"
                    />
                    <div
                      *ngIf="
                        loginForm.get('password')?.invalid &&
                        (loginForm.get('password')?.touched ||
                          loginForm.get('password')?.dirty)
                      "
                      class="error-message"
                    >
                      Please enter password.
                    </div>
                  </div>

                  <button type="submit" [disabled]="!loginForm.valid">
                    Login
                  </button>
                  <p>
                    Don't have an account? <a routerLink="/signup">Sign Up</a>
                  </p>
                </form>
                <!-- Your Angular form ends here -->
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="assets/signin-image.jpg"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
